@import url("https:/s.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&family=Rampart+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600&display=swap");
* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
    color: var(--color-black);
   background: var(--color-white);
  box-sizing: border-box;
    
}

/* #####html-common-code#### */
ul li,
ul,
ol,
ol li,
a {
    text-decoration: none;
    list-style-type: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 15px;
}

h1,
h2,
h3 {
    margin-bottom: 5px;
    letter-spacing: 1.5px;
    font-weight: 500;
}

/* #### utility-class### */
.btn {
    border: 2px solid #11a0c5;
    color: #ffffff;
    background-color: #11a0c5;
    border-radius: 13px;
    display: inline-block;
    margin: 5px;
    padding: 8px 15px;
    font-weight: 500;
    text-transform: uppercase;
}


:root {
  --color-black: hsl(0, 0%, 10%);
  --color-white: hsl(0, 0%, 100%);
  --color-darken: hsl(0, 0%, 20%);
  --color-pink-100: hsl(336, 95%, 94%);
  --color-pink-200: hsl(338, 91%, 87%);
  --color-pink-300: hsl(339, 90%, 81%);
  --color-pink-400: hsl(339, 88%, 74%);
  --color-pink-500: hsl(339, 82%, 67%);
  --color-pink-600: hsl(339, 76%, 59%);
  --color-pink-700: hsl(339, 67%, 52%);
  --color-pink-800: hsl(339, 68%, 45%);
  --color-pink-900: hsl(339, 69%, 38%);
  --shadow-small: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-medium: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-large: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}


/* ########### header ####### */

.header-container {
  max-width: 75rem;
  height: auto;
  margin: 0 auto;
  padding: 0 1.25rem;
}

.brand {
  font-family: "Rubik", sans-serif;
  font-size: 1.625rem;
  font-weight: 600;
  line-height: 1.25;
  letter-spacing: -1px;
  color: var(--color-pink-600);
  text-transform: uppercase;
}

.header {
  /* position: fixed; */
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0.75rem 0;
  z-index: 100;
  background: var(--color-white);
  -webkit-box-shadow: var(--shadow-medium);
          box-shadow: var(--shadow-medium);
}
.header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header-item-left {
  display: flex;
  -webkit-box-flex: 0;
}
.header-item-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header-item-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 17%;
          flex: 0 0 17%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.header-item-right .menu-icon {
  display: flex;
  -webkit-box-align: center;
  flex-direction: column;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  margin-left: 1rem;
  color: var(--color-black);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.header .menu > ul > li {
  display: inline-block;
  line-height: 3.125rem;
  margin-left: 1.5rem;
}
.header .menu > ul > li > a {
  position: relative;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.25;
  border: none;
  outline: none;
  color: var(--color-black);
  text-transform: capitalize;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
.header .menu > ul > li .menu-subs {
  position: absolute;
  width: 100%;
  height: auto;
  margin-top: 1.75rem;
  padding: 1rem 2rem;
  z-index: 109;
  opacity: 0;
  visibility: hidden;
  border-radius: 0.25rem;
  border-top: 3px solid var(--color-pink-600);
  background: var(--color-white);
  -webkit-box-shadow: var(--shadow-medium);
          box-shadow: var(--shadow-medium);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.header .menu > ul > li .menu-subs > ul > li {
  line-height: 1;
}
.header .menu > ul > li .menu-subs > ul > li > a {
  display: inline-block;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.25;
  padding: 0.75rem 0;
  border: none;
  outline: none;
  color: var(--color-black);
  text-transform: capitalize;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.header .menu > ul > li .menu-column-1 {
  min-width: 16rem;
  max-width: 20rem;
}
.header .menu > ul > li .menu-subs.menu-mega {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.header .menu > ul > li .menu-subs.menu-mega > .list-item > ul > li {
  display: block;
  line-height: 1;
}
.header .menu > ul > li .menu-subs.menu-mega > .list-item > ul > li > a {
  display: inline-block;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.25;
  padding: 0.5rem 0;
  border: none;
  outline: none;
  color: var(--color-black);
  text-transform: capitalize;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
.header .menu > ul > li .menu-subs.menu-column-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 68rem;
  width: 100%;
  padding: 1.25rem 1rem;
}
.header .menu > ul > li .menu-subs.menu-column-4 > .list-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  padding: 0 1rem;
}
.header .menu > ul > li .menu-subs.menu-column-4 > .list-item .title {
  font-family: inherit;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1;
  padding: 0.75rem 0;
  color: var(--color-pink-700);
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.header .menu > ul > li .menu-subs.menu-column-4 > .list-item.text-center .title {
  text-align: center;
}
.header .menu > ul > li .menu-subs.menu-column-4 > .list-item img {
  display: block;
  width: 100%;
  height: auto;
  margin-top: 0.75rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.header .menu > ul > li .menu-subs.menu-mega > .list-item > ul > li > a:hover,
.header .menu > ul > li .menu-subs > ul > li > a:hover {
  color: var(--color-pink-700);
}
.header-item-right a:hover,
.header .menu > ul > li:hover > a {
  color: var(--color-pink-700);
}
.header .menu-mobile-header,
.header .menu-mobile-toggle {
  display: none;
}

@media screen and (min-width: 993px) {
  .header .menu > ul > li.menu-item-has-children:hover .menu-subs {
    margin-top: 0.5rem;
    opacity: 1;
    visibility: visible;
  }
}
@media screen and (max-width: 992px) {
  .header-item-center {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .header-item-left, .header-item-right {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }

  .wrapper {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 auto;
    padding: 0.5rem 0;
  }

  .header .menu-mobile-toggle {
    position: relative;
    display: block;
    cursor: pointer;
    width: 1.75rem;
    height: 1rem;
    border: none;
    outline: none;
    margin-left: 1.25rem;
    margin-top: -0.25rem;
    background: none;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transition: 0.35s ease-in-out;
    transition: 0.35s ease-in-out;
  }
  .header .menu-mobile-toggle span {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    border: none;
    outline: none;
    opacity: 1;
    border-radius: 0.25rem;
    background: var(--color-black);
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
  }
  .header .menu-mobile-toggle span:nth-child(1) {
    top: 0;
  }
  .header .menu-mobile-toggle span:nth-child(2), .header .menu-mobile-toggle span:nth-child(3) {
    top: 0.5rem;
  }
  .header .menu-mobile-toggle span:nth-child(4) {
    top: 1rem;
  }
  .header-item-right {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 75%;
    height: 100%;
    z-index: 111;
    overflow: hidden;
    background: var(--color-white);
    -webkit-transform: translate(-100%);
            transform: translate(-100%);
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .header .menu.active {
    -webkit-transform: translate(0%);
            transform: translate(0%);
  }
  .header .menu > ul > li {
    display: block;
    line-height: 1;
    margin: 0;
  }
  .header .menu > ul > li > a {
    display: block;
    line-height: 3.125rem;
    height: 3.125rem;
    padding: 0 3.125rem 0 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .header .menu > ul > li > a i.ion {
    position: absolute;
    font-size: 1.25rem;
    line-height: 3.125rem;
    top: 0;
    right: 0;
    width: 3.125rem;
    height: 3.125rem;
    text-align: center;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  .header .menu .menu-mobile-header {
    position: relative;
    position: sticky;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    top: 0;
    height: 3.125rem;
    z-index: 110;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    background: var(--color-white);
  }
  .header .menu .menu-mobile-header .menu-mobile-arrow {
    display: none;
    font-size: 1.25rem;
    line-height: 3.125rem;
    width: 3.125rem;
    height: 3.125rem;
    cursor: pointer;
    text-align: center;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    color: var(--color-black);
  }
  .header .menu .menu-mobile-header.active .menu-mobile-arrow {
    display: block;
  }
  .header .menu .menu-mobile-header .menu-mobile-title {
    font-family: inherit;
    font-size: 1rem;
    font-weight: 500;
    line-height: inherit;
    color: var(--color-black);
    text-transform: capitalize;
  }
  .header .menu .menu-mobile-header .menu-mobile-close {
    font-size: 2.25rem;
    line-height: 3.125rem;
    cursor: pointer;
    width: 3.125rem;
    height: 3.125rem;
    text-align: center;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    color: var(--color-black);
  }
  .header .menu .menu-section {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
  }
  .header .menu > ul > li .menu-subs {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    max-width: none;
    min-width: auto;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 1rem;
    padding-top: 4rem;
    opacity: 1;
    overflow-y: auto;
    visibility: visible;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .header .menu > ul > li .menu-subs.menu-mega {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    max-width: none;
    min-width: auto;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 1rem;
    padding-top: 4rem;
    opacity: 1;
    overflow-y: auto;
    visibility: visible;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .header .menu > ul > li .menu-subs.active {
    display: block;
  }
  .header .menu > ul > li .menu-subs.menu-column-4 > .list-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    padding: 0rem;
  }
  .header .menu > ul > li .menu-subs.menu-column-4 > .list-item img {
    margin-top: 0;
  }
  .header .menu > ul > li .menu-subs.menu-column-4 > .list-item.text-center .title {
    margin-bottom: 1.25rem;
  }
  .header .menu > ul > li .menu-subs.menu-column-4 > .list-item.text-center:last-child .title {
    margin-bottom: 0rem;
  }
  .header .menu > ul > li .menu-subs > ul > li > a {
    display: block;
  }
  .header .menu > ul > li .menu-subs.menu-mega > .list-item > ul {
    margin-bottom: 1rem;
  }
  .header .menu > ul > li .menu-subs.menu-mega > .list-item > ul > li > a {
    display: block;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    background: rgba(0, 0, 0, 0.65);
    -webkit-transition: all 0.45s ease-in-out;
    transition: all 0.45s ease-in-out;
  }
  .overlay.active {
    opacity: 1;
    visibility: visible;
  }
}
.menu-subs .list-item h4.title a {
  color: var(--color-pink-700);
}
.top-search-section {
  position: relative;
}
input.desktop-searchBar {
  width: 300px;
  height: 35px;
  padding: 0px 0 0 35px;
  border-radius: 5px;
  border: 1px solid #e8e8e8;
  box-shadow: 0px 0px 15px -4px #e8e8e8;
}
input.desktop-searchBar:focus{
  background-color: #fff;
  border: 2px solid var(--color-pink-700);
  outline: var(--color-pink-700);
}
span.search-icon {
  position: absolute;
  left: 0;
  bottom: 0px;
  padding: 6px;
}


/* ########## banner-slider ######## */
.item {
    position: relative;
    max-height: 500px;
    overflow: hidden;
}
.banner-img img{
  width: 100%;
  object-fit: cover;
}

/* .item img {
    width: 100%;
    height: auto;
} */

.banner-text-one {
    position: absolute;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: end;
    left: -100px;
    top: 0;
}

.banner-text-one h1 {
    font-size: 83px;
    margin-bottom: 15px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 900;
}

.banner-text-one p {
    font-size: 40px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
}

.btn-default {
    background-color: #fff;
    color: #001018;
    border: #fff;
    border-radius: 5px;
}

.banner-2 {
  display: flex;
  width: 100%;
}

.banner-text-two{
  background-color:#5153a8 ;
  background-color: #5153a8;
  width: 50%;
  max-height: 500px;
  align-items: center;
  display: flex;
}
.banner-text-two h1 {
  font-size: 26px;
  padding: 0 40px;
  font-weight: 600;
  font-family: inherit;
  text-transform: uppercase;
  color: #fff;
}

/* .owl-theme{
position: relative;
} */
.owl-nav { 
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  color: white;
  font-size: 30px !important;
}
.banner-carousel .owl-nav .owl-prev {
  left: 0;
}
.banner-carousel .owl-nav .owl-next {
  right: 0;
}
.banner-carousel .owl-nav .owl-prev, .banner-carousel .owl-nav .owl-next {
  background: rgba(0,0,0,0.3) !important;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  position: absolute;
}
.banner-carousel .owl-prev span,.banner-carousel .owl-next span {
  display: inline-block;
  margin-bottom: 10px;
}


.owl-dots {
    position: absolute;
    width: 100%;
    bottom: 66px;
}

.owl-dot span {
    width: 34px;
    height: 10px;
    margin: 5px 7px;
    background: #f79021;
    display: block;
    /* -webkit-backface-visibility:visible; */
    -webkit-transition: opacity 200ms ease;
    transition: opacity 200ms ease;
    border-radius: 30px;
}
/*# sourceMappingURL=style.css.map */



/* ----- Product Section ----- */
/* ----- Product Section ----- */
/* ----- Product Section ----- */
.product-box{
  display: grid;
  grid-template-rows: 1fr;
  font-family: "Raleway", sans-serif;
  background-color: #fff;
  padding: 40px 0;
}
.product-box h3{
  font-size: 0.7em;
  letter-spacing: 1.2px;
  color: #a6a6a6;
}
.product-box img{
  width: 100%;
}
.product {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.9fr 1fr;
      grid-template-columns: 0.9fr 1fr;
  margin: auto;
  padding: 2.5em 0;
  min-width: 600px;
  background-color: #e4f3f3;
  border-radius: 5px;
}

/* ----- Photo Section ----- */  

.product__photo {
  position: relative;
}

.photo-container {
  position: absolute;
  left: -2.5em;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  -webkit-box-shadow: 4px 4px 25px -2px rgba(0, 0, 0, 0.3);
          box-shadow: 4px 4px 25px -2px rgba(0, 0, 0, 0.3);
}

.photo-main {
  border-radius: 6px 6px 0 0;
  background-color: #c6f26d;;
  background: radial-gradient(#e5f89e,#c6f26d);
}

.photo-main .controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.8em;
  color: #fff;
}

.photo-main .controls i {
  cursor: pointer;
}

.photo-main img {
   position: absolute;
    padding: 20px;
    left: -40px;
    top: 10px;
    max-width: 110%;
  -webkit-filter: saturate(150%) contrast(120%) hue-rotate(10deg) drop-shadow(1px 20px 10px rgba(0, 0, 0, 0.3));
          filter: saturate(150%) contrast(120%) hue-rotate(10deg) drop-shadow(1px 20px 10px rgba(0, 0, 0, 0.3));
}

.photo-album {
  padding: 0.7em 1em;
  border-radius: 0 0 6px 6px;
  background-color: #fff;
}

.photo-album ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.photo-album li {
  float: left;
  width: 55px;
  height: 55px;
  padding: 7px;
  border: 1px solid #a6a6a6;
  border-radius: 3px;
}

/* ----- Informations Section ----- */
.product__info {
  padding: 0.8em 0;
}

.title h1 {
  margin-bottom: 0.1em;
  color: #4c4c4c;
  font-size: 1.5em;
  font-weight: 900;
}

.title span {
  font-size: 0.7em;
  color: #a6a6a6;
}

.price {
  margin: 1.5em 0;
  color: #ff3f40;
  font-size: 1.2em;
}

.price span {
  padding-left: 0.15em;
  font-size: 2.9em;
}

.variant {
  overflow:hidden;
}

.variant h3 {
  margin-bottom: 1.1em;
}

.variant li {
  float: left;
  width: 35px;
  height: 35px;
  padding: 7px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 3px;
  cursor: pointer;
}
.variant li:first-child, .variant li:hover {
  border: 1px solid #a6a6a6;
}

.variant li:not(:first-child) {
  margin-left: 0.1em;
}

.description {
  clear: left;
  margin: 2em 0;
}

.description h3 {
  margin-bottom: 1em;
}

.description ul {
  font-size: 0.8em;
  list-style: disc;
  margin-left: 1em;
}

.description li {
  text-indent: -0.6em;
  margin-bottom: 0.5em;
}

.buy--btn {
  padding: 1.5em 3.1em;
  border: none;
  border-radius: 7px;
  font-size: 0.8em;
  font-weight: 700;
  letter-spacing: 1.3px;
  color: #fff;
  background-color: #ff3f40;
  -webkit-box-shadow: 2px 2px 25px -7px #4c4c4c;
          box-shadow: 2px 2px 25px -7px #4c4c4c;
  cursor: pointer;
}

.buy--btn:active {
  -webkit-transform: scale(0.97);
          transform: scale(0.97);
}


/* ############pd-card-section###### */

.pd-card-section {
  width: 1200px;
  margin: 60px auto;
}
 .pd-card-top {
  text-align: center;
}
.pd-sellers {
  font-size: 20px;
  margin-bottom: 60px;
  color: #e23400;
  text-transform: uppercase;
}
.pd-sellers h2{
  font-weight: 700;
}
.pd-option {
  margin: 40px 0;
}
.pd-option ul li{
  display: inline-block;
}
.pd-option a {
  color: #312f63;
  margin: 0 20px;
  font-size: 20px;
  font-weight: 500;
}
.pd-option a::before {
  display: block;
  content: attr(title);
  font-weight: bold;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.pd-option a:hover{
  border-bottom: 2px solid #f79021 ;
  font-weight:bold;
}

.pd-card-container {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: auto;
  grid-gap: 10px;
  margin: 40px 0;
}
 .inner-column {
  border: 1px solid #eaebec;
}
.inner-column:hover {
  box-shadow: inset 0 0 10px 0px #eaebec;
}
.pd-card-img {
  padding: 20px;
  text-align: center;
}
.pd-card-title {
  padding: 20px;
  text-align: center;
  background-color: #f8f8f8;
}
.pd-feature:hover{
  color: #c7511f;
}
.pd-dics-text {
  margin: 15px 0;
}
span.sp-one {
  color: #c7511f;
  font-size: 20px;
}
span.sp-two {
  font-size: 10px;
  text-decoration: line-through;
}
span.sp-three {
  padding: 0 0 0 5px;
  font-size: 14px;
}
.pd-star-icon {
  margin-top: 15px;
}
.star-icon{
  color:#e48d42 ;
}
.pd-dics-text {
  margin: 5px 0 10px 0;
}
.pd-card-btn {
  display: flex;
  justify-content: space-around;
}
.btn-click {
  min-width:210px;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  color: #fff;
  border: 2px solid #e48d42;
  background-color: #e48d42;
  box-shadow: inset 0 0 5px 0 #e48d42;
  text-transform: uppercase;
}
.arrow-icon{
     opacity: 0;
     transition: all 0.5s ease-in-out;
}
 .btn-click:hover .arrow-icon{
  padding-left: 30px;
  opacity: 1;
}

/* ######explore-box######### */
section.explore-box {
  margin: 61px 0;
}
.explore-text {
  text-align: center;
}
.explore-text h2,h3{
    margin: 25px 0;
    font-weight: 600;
    color: #093547;
}
.explore-text h3 {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 900;
}
.explore-text p {
  font-size: 23px;
  color: #312f63;
  margin: 30px 0;
  line-height: 40px;
}

/* ########## company-maneger ######## */
.company-maneger{
 margin-bottom: 50px;
}
.company-text{
  text-align: center;
}
.company-text h3{
  font-size: 24px;
  font-weight: 900;
  color: #093547;
}

.company-card-box{
  width: 1200px;
  margin: 0 auto;

}
.maneger-card-box{
  padding: 20px;
}
.maneger-card {
  text-align: center;
  box-shadow: 0 0 8px 1px #eaebec;
  border: 2px solid #eaebec;
  padding: 10px;
}
.maneger-card > p{
  font-size: 23px;
  color: #312f63;
  margin: 30px 0;
  line-height: 40px;
}
.maneger-img img {
  border-radius: 50%;
  width: 60px !important;
  height: 60px;
  margin: 0 auto;
}
.maneger-dl > p {
  font-size: 20px;
  font-weight: 700;
  margin: 10px;
  color: #000;
}

/* ############ sign-up-section ####### */
.sign-up {
  background-color: #c1ecd8;
  padding: 50px;
}
.sign-box {
  text-align: center;
}
.sign-box > h3 {
  font-size: 30px;
  color: #4c4c4c;
  font-weight: 700;
  margin: 25px 0;
}
.sign-box > p {
  color: #4c4c4c;
  font-size: 20px;
  margin-bottom: 31px;
}
.sign-input {
  position: relative;
}
.sign-input input {
  width: 300px;
  height: 35px;
  padding: 10px;
  border-radius: 5px 0 0 5px;
  border-right: 0 solid #fff;
  border: 1px solid #e8e8e8;
}
.sign-input input:focus {
  background-color: #fff;
  border: 2px solid #e8e8e8;
  border-right: 0 solid #fff;
  outline: #e8e8e8;
  box-shadow: 0px 0px 8px 7px #bde0d0;
}
.subscribe {
  position: absolute;
  bottom: 0px;
  color: aliceblue;
  font-weight: 600;
  border: 0px solid #e8e8e8;
  height: 34px;
  padding: 10px;
  font-size: 12px;
  background-color: #0c465e;
  border-radius: 0 3px 3px 0;
}
/* ############ footer ######### */
.footer-main-box{
  background-color: #5153a8;
}
.footer-fix-box {
  width: 1200px;
  margin: 0 auto;
  padding: 70px 0;
  display: flex;
  justify-content: space-between;
}
.footer-fix-box  a, .footer-fix-box  p, .footer-fix-box li{
  color:#fff;
  margin-bottom: 14px;
}

.contect-text {
  width: 20%;
  margin: 0 50px 0 0;
}
.contect-text.contect-icon {
  margin: 0;
}
.contect-icon .icon-footer li{
  display: inline-block;
    margin-right: 40px;
}


/* ######## PAGE PAGE ################## */


/* #############LOGIN-PAGE############ */
.login-form {
  width: 1200px;
  margin: 50px auto;
}
section.login-form h2 {
  text-align: center;
  font-size: 40px;
  font-family: system-ui;
}
.login-box {
  display: flex;
  justify-content: center;
  margin: 50px 0;
}
.login-box .lb-box{
  margin-bottom: 50px;
}
.form-box label {
  font-size: 20px;
  font-family: fantasy;
}
.form-box .lb-box label .forgot {
  float: right;
  font-size: 16px;
  font-family: sans-serif;
}

.form-box input {
  min-width: 400px;
  height: 50px;
  border: 2px solid #eaebec;
  border-radius: 4px;
  margin-top: 10px;
  padding: 10px;
}

.btn-login {
  min-width: 400px;
  height: 40px;
  margin-bottom: 40px;
  padding: 10px;
  font-size: 18px;
  border-radius: 4px;
  background-color: #0c465e;
  text-align: center;
}
.btn-login a {
  color: #fff;
  margin: 0;
  font-weight: 700;
}
.btn-login.icon-btn {
  height: 40px;
  margin-bottom: 20px;
  font-size: 14px;
  padding: 12px;
  text-align: start;
}
.btn-login.icon-btn a{
  position: relative;
}
span.icon-logo {
  color: #fff;
  font-size: 24px;
  position: absolute;
  right: -212px;
  bottom: -9px;
}
.color-google span.icon-logo{
  right: -233px;
}
.btn-login.icon-btn.color-facebook{
  background-color: #337ab7;
}
.btn-login.icon-btn.color-google{
  background-color: #dd4b39;
}

/* ######### Return ############# */

.return {
  width: 1200px;
  margin: 50px auto;
}
.return-box {
  display: grid;
  padding: 20px;
  grid-template-columns: 1fr 4fr;
}
.return-policy-box {
  text-align: start;
  padding: 20px;
}
.return-form-text p{
 color: #1d1e1f;
}
.return-policy-box a:hover{
  color:#fe5d41;
}
.return-form-box input{
  min-width: 400px;
  height: 40px;
  border: 2px solid #eaebec;
  border-radius: 4px;
  margin-top: 5px;
  padding: 10px;
}
.return-form-box label::after{
  content: '*';
  color: #fe5d41;
}
.btn-next{
  background-color: #85a3af;
  margin-bottom: 40px;
}
.our-policy-box {
  text-align: center;
}
.our-policy-box a{
  color: #0b465e;
}
.our-policy-box .our-return {
  padding-bottom: 5px;
  border-bottom: 2px solid #eaebec;
}
.our-policy-box .policy-links li{
  display: inline-block;
}
.our-policy-box .policy-links li.policy-rp{
  border-right: 1px solid #0b465e;
  padding-right: 16px;
}
.our-policy-box .policy-links li.policy-tc{
  padding-left: 10px;
}
.return-img img {
  width: 100%;
  height: 100%;
}

/* ########### Know your size page ######### */
.size-main-box{
  width: 1200px;
  margin: 50px auto;
}
.size-main-box-text{
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 40px;
}
.size-feet-box-text{
  text-align: center;
}
.size-feet-box h3 {
  font-size: 22px;
  margin: 20px 0;
}
.size-feet-box p {
  font-size: 18px;
  
}
.size-feet-card-box {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-column-gap: 20px;
}
.feet-card {
  padding: 30px;
  text-align: start;
}
.feet-card p {
  font-size: 14px;
}

.size-feet-boximg{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-column-gap: 30px;
}
.size-feet-boximg .feet-boximg img{
  width: 100%;
}
/* 
################
Page Men section
################ */


.men-section{
  width: 1200px;
  margin: 50px auto;
}
.men-section h2{
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
  font-weight: 900;
}
.men-option-selection{
   text-align: end;
}
.men-option-selection select{
  padding: 10px;
  height: 40px;
  min-width: 350px;
  border: 2px solid #e8e8e1;
  border-radius: 4px;
}
.men-option-selection select:focus{
  border:2px solid#4c4c4c;
}
.men-container{
  margin: 30px 0;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-rows: auto;
}
.product-filter-selection{
  grid-row: 1/3;
}
.product-filter-selection label{
  display: block;
  margin-bottom: 10px;
}
.product-filter-selection span{
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;

}


